
<%-include("../partials/header")%>
<div class="newcontain">
    <div class="row">
        <div class="col-md-6">
            <p class="newplace"><a href="/places/home/visited"><img class="arrowback" src="/img/arrow.svg" ></a>Edit Place Details</p>
            <img src="/img/travel-illustration.svg" width=653px height=598px>
        </div>
        <div class="col-md-5 coladd">
            <div id="adddet" >
                <p id="addcont">Add Details about the place where you have visited.</p>
            <form class="formadd" action="/places/<%=place._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control controladd upper" name="name" value="<%=place.name%>" required>
                </div>
                <div class="form-group">
                    <label>Photo URL</label>
                    <input type="text" class="form-control controladd" name="image" value="<%=place.image%>"  required>
                </div>
                <div class="form-group">
                    <label>Few words about this place</label>
                    <input type="text" class="form-control controladd-big" name="description" value="<%=place.description%>"  required>
                </div>
                <div class="form-group check-l">
                    <div class="checklab">
                        <input type="checkbox" value="true" name="visited" class="checkaddvisit checkbox" checked onclick="traveldisp()" >
                        <label class="checklab">VISITED</label>
                    </div>
                    
                    <div class="checklab">
                        <input type="checkbox" name="bucketlist" value="true" class="checkaddbuc checkbox">
                    </div>
                    <label class="checklab">BUCKET-LIST</label>
                </div>
                <div class="form-group travel">
                    <label>When did you travel here?</label>
                    <input type="text" class="form-control  controladd" value="<%=place.date%>"  name="date">
                </div>
                <div class="form-group">
                    <a href="/places" class="btn but-cancel align-items-right">Cancel</a>
                    <button class="btn btn-dark form-control float-right" id="controladd-but" type="submit">UPDATE PLACE</button>
                </div>
                <hr id="edit-hr">
                <!-- <form action="/home/<%=place._id%>/delete?_method=delete" method="POST"> -->
                    <a href="/places/<%=place._id%>/delete" class="btn but-del info">Delete This Place</a>
            </form>
        </div>
        </div>
    </div>
</div>

<%-include("../partials/footer")%>
